html{
    box-sizing: border-box;
   
    
}

*, *::before, *::after {
    box-sizing: inherit;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    
    
}
body {
margin: 0;
font-family: 'Montserrat', serif;
}

.montserrat-<uniquifier> {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

.header {
height: 700px;
background-image: url(../image/generated_fap_summer_2020_B05_wr.jpg\ 1.png);

}

.header_obzor {
display: flex;
justify-content:space-between;
height: 80px;
background-color:#D0B194E5 ;

}


.text_h4 {
font-family: Montserrat;
font-weight: 600;
font-size: 17px;
line-height: 18px;
letter-spacing: 2px;
color: #FFFFFF;
width: 90px;
height: 18px;
padding-top: 22px;
}
.text_h5 {
font-family: Montserrat;
font-weight: 500;
font-size: 14px;
line-height: 17.07px;
letter-spacing: -1.5%;
color: #FFFFFF;
width: 167px;
height: 17px;
padding-top: 20px;
white-space: nowrap;
}

a {
text-decoration: none;
}
.menu_ul {
display: flex;
list-style: none;
}
.menu_li {
padding-right: 12px;
padding-top: 15px;
font-family: Montserrat;
font-weight: 500;
font-size: 16px;
line-height: 19.5px;
letter-spacing: 0%;
color: #FFFFFF;


}
.header_tel {
padding-right: 215px;
}
.tel_h3 {
padding-top: 30px ;
font-family: Montserrat;
font-weight: 700;
font-size: 19px;
line-height: 23.16px;
letter-spacing: -0.5%;
width: 185px;
height: 23px;
color: #FFFFFF;
white-space: nowrap;
}
.rec {
width: 63px;
height: 1px;
margin-bottom: 10px;
}

.header_inform {
text-align: center;

}

.text_h1 {
font-family: Montserrat;
font-weight: 700;
font-size: 60px;
line-height: 63.54px;
letter-spacing: 6px;
color: #FFFFFF;
width: 357px;
height: 64px;
margin-top: -34px;
padding-left: 621px;
}
.inline {
display: flex;

}
.inline_icon{
 width: 116px;
height: 1px;
margin-top: 206px;
margin-left: 485px;
    
}
.inline_line {
    width: 117px;
    height: 1px;
    margin-top: 207px;
    margin-left: 370px;
       
}


.text_h2 {
font-family: Cormorant Garamond;
font-weight: 400;
font-size: 45px;
line-height: 54.5px;
letter-spacing: 0%;
color: #FFFFFF;
width: 927px;
height: 54px;
padding-top: 19px;
padding-left: 336px;
white-space: nowrap;
}
.icon_vana {
    
padding-top: 22px;
margin-left: 215px;
    
}
.wopros_item {
height: 600px;
padding-top: 107px;
border-radius: 32px;
background-color: #F4E8DA2E;
}

.wopros_h4 {
font-family: Lato;
font-weight: 400;
font-size: 17px;
line-height: 22.1px;
letter-spacing: 4%;
width: 229px;
height: 22px;
padding-left: 100px;
white-space: nowrap;
color: #693030;
}
.wopros_h2 {
font-family: Cormorant Garamond;
font-weight: 400;
font-size: 55px;
line-height: 55px;
letter-spacing: 0%;
width: 1173px;
height: 110px;
padding-top: 40px;
padding-left: 100px;
color: #2F2F2F;
 
}
.icon_img {
width: 1070px;
height: 1px;
margin-top: 110px;
margin-left: -75px;
}
.wopros_team {
display: flex;
margin-left: 100px;

}
.card_1 {
margin-right: 25px ;

}
.card_h3 {
    font-family: Cormorant Garamond;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0%;
    color: #2F2F2F;
    width: 147px;
    height: 40px;
    padding-top: 30px;

}
.card_h3_1 {
    font-family: Cormorant Garamond;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0%;
    width: 149.5488739013672px;
    padding-top: 30px;
    left: 515px;
    color: #2F2F2F;
}
.card_h3_2 {
    font-family: Cormorant Garamond;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0%;
    color: #2F2F2F;
    padding-top: 30px;
    width: 170px;
   height: 40px;

}
.card_h3_3 {
font-family: Cormorant Garamond;
font-weight: 400;
font-size: 40px;
line-height: 40px;
letter-spacing: 0%;
color: #2F2F2F;
padding-top: 30px;
width: 94px;
height: 40px;

}
.text_p {
    font-family: Lato;
    font-weight: 400;
     font-size: 18px;
    line-height: 27px;
    letter-spacing: 1%;
    width: 164px;
    height: 54px;
    padding-top:30px ;
    
}
.mecj {
font-family: Lato;
font-weight: 900;
font-size: 18px;
line-height: 27px;
letter-spacing: 1%;
    
}
.text_p_1 {
    font-family: Lato;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1%;
    width: 170px;
    height: 54px;
}
.rub {
color:#3C3D3D ;
font-family: Lato;
font-weight: 900;
font-size: 18px;
line-height: 27px;
letter-spacing: 1%;
}
.text_p_2 {
    font-family: Lato;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1%;
    width: 156.6666717529297px;
height: 54px;
padding-top: 30px;

}
.day {
    font-family: Lato;
    font-weight: 900;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1%;
    color:#3C3D3D ;
}
.text_p_3 {
    font-family: Lato;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1%;
    width: 175px;
height: 54px;
padding-top: 30px;
}
.year {
    font-family: Lato;
    font-weight: 900;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1%;
    color: #3C3D3D;
}

.otvet_h3 {
    font-family: Lato;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 1%;
    width: 185px;
height: 36px;
padding-top: 30px;
padding-left: 100px;
color:#DBAF15 ;
white-space: nowrap;
}
.image {
    width: 45px;
    height: 21px;
    padding-top:5px ;
    margin-left: 275px;
    
}

.glava_h2 {
    font-family: Cormorant Garamond;
    font-weight: 400;
    font-size: 55px;
    line-height: 55px;
    letter-spacing: 0%;
    width: 1169px;
height: 110px;
padding-top: 150px;
padding-left: 100px;

}
.rub5 {
    font-family: Cormorant Garamond;
    font-weight: 600;
    font-size: 55px;
    line-height: 55px;
    letter-spacing: 0%;
    color: #DBAF15;
    margin-left: 10px;
    
}
.rub10 {
    font-family: Cormorant Garamond;
    font-weight: 600;
    font-size: 55px;
    line-height: 55px;
    letter-spacing: 0%;
   color: #DBAF15;
   margin-left: 10px;     
}
.glava_icon {
    width: 711px;
    height: 1px;
    margin-top: 120px;
    margin-left: 100px;
    color: #693030;
    
}

.btn_10 {
    width: 605px;
    height: 400px;
    padding-top: 157px;
    margin-left: -170px;
    position: relative;
}
.image_btn {
position: absolute;
width: 973px;
height: 490px;
padding-top: 95px;
margin-left: -300px;
opacity: 0.5;

}
.btn_text {
    width: 370px;
    height: 312px;
    padding-left: 600px;
    margin-top: -280px ;
    border-radius: 10px;
    
}
.input {
display: block;
width: 370px;
height: 64px;
background-color: #FFFFFF;

border-radius: 10px;

}
.input::placeholder{
    font-family: Lato;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1%;
    color:#3C3D3D80 ;
    padding-left: 28px;
   
}

.form {
background-color: #FFFFFF;
}
.btn_1_label {
font-family: Lato;
font-weight: 400;
font-size: 18px;
line-height: 27px;
letter-spacing: 1%;
width: 150px;
height: 28px;
color:#3C3D3D ;
white-space: nowrap;
    
}


.btn_2_label {
font-family: Lato;
font-weight: 400;
font-size: 18px;
line-height: 27px;
letter-spacing: 1%;
color: #3C3D3D;
width: 36px;
height: 28.148937225341797px;
}

.btn_3_label {
font-family: Lato;
font-weight: 400;
font-size: 18px;
line-height: 27px;
letter-spacing: 1%;
color: #2F2F2F;
width: 73px;
height: 28.148937225341797px;
}

.text-field__input {
    width: 370px;
    height: 65px;
    margin-top: 15px;
    display: block;
   
    border-radius: 100px;
    border: 3px solid #DBAF15;
}
.text-field__input::placeholder {
    font-family: Lato;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1%;
    color: #DBAF15;
    padding-left: 79px;
}

.block_inform {
padding-top: 150px;
}
.block_text {
text-align: center;

}
.block_image {
padding-bottom: 120px;
}
.block_h2 {
font-family: Cormorant Garamond;
font-weight: 400;
font-size: 55px;
line-height: 55px;
letter-spacing: 0%;
color:#2F2F2F ;
width: 273px;
height: 55px;
padding-left: 460px;
white-space: nowrap;
margin-bottom: 20px;
}
.block_item_1 {
    background-image: url(../image/ванна3\ 2.png);
    width: 270px;
    height: 207px;
    padding-top: 100px;
    border-radius: 16px;
    
}
.item_1_image {
position: relative;
margin-top: -25px;
}
.item_1_h4 {
font-family: Lato;
font-weight: 500;
font-size: 17px;
line-height: 25.5px;
letter-spacing: 1%;
width: 218px;
height: 26px;
color: #FFFFFF;
padding-left: 26px;
position: absolute;
margin-top: -50px;
white-space: nowrap;
}

.block_item_2 {
background-image: url(../image/png\ 2.png);
width: 270px;
height: 207px;
border-radius: 16px;
}
.item_2_image {
    position: relative;
    padding-top: 75px;
}
.item_2_h4 {
    position: absolute;
    color: #FFFFFF;
    margin-top: -50px;
    padding-left: 20px;
    white-space: nowrap;
font-family: Lato;
font-weight: 500;
font-size: 17px;
line-height: 25.5px;
letter-spacing: 1%;
height: 26px;
width: 229px;
}
.block_item_3 {
background-image:url(../image/png\ 3.png) ;
width: 270px;
height: 207px;
border-radius: 16px;
}
.item_3_image {
    position: relative;
    padding-top: 75px;
}
.item_3_h4 {
    position: absolute;
    color: #FFFFFF;
    margin-top: -50px;
    padding-left: 43px;
    white-space: nowrap;
font-family: Lato;
font-weight: 500;
font-size: 17px;
line-height: 25.5px;
letter-spacing: 1%;
height: 26px;
width: 183px;

}
.block_item_4 {
background-image: url(../image/png\ 4.png);
width: 270px;
height: 207px;
border-radius: 16px;
}
.item_4_image {
    position: relative;
    padding-top: 75px;
}
.item_4_h4 {
    position: absolute;
    color: #FFFFFF;
    margin-top: -50px;
    padding-left: 24px;
    white-space: nowrap;
font-family: Lato;
font-weight: 500;
font-size: 17px;
line-height: 25.5px;
letter-spacing: 1%;
width: 223px;
height:26px ;
}
.block_item_5 {
background-image: url(../image/png\ 8.png);
width: 270px;
height: 207px;
border-radius: 16px;
margin-top: 20px;
}
.item_5_image {
position: relative;
padding-top: 75px;
}
.item_5_h4 {
    position: absolute;
    color: #FFFFFF;
    margin-top: -50px;
    padding-left: 13px;
    white-space: nowrap;
font-family: Lato;
font-weight: 500;
font-size: 17px;
line-height: 25.5px;
letter-spacing: 1%;
width: 254px;
height: 26px;
}
.block_item_6 {
background-image: url(../image/png\ 7.png);
width: 270px;
height: 207px;
border-radius: 16px;
margin-top: 20px;
}
.item_6_image {
position: relative;
padding-top: 75px;
}
.item_6_h4 {
    position: absolute;
    color: #FFFFFF;
    margin-top: -50px;
    padding-left: 77px;
    white-space: nowrap;
font-family: Lato;
font-weight: 500;
font-size: 17px;
line-height: 25.5px;
letter-spacing: 1%;
width: 254px;
height: 26px;
}
.block_item_7 {
    background-image: url(../image/png\ 6.png);
    width: 270px;
    height: 207px;
    border-radius: 16px;
    margin-top: 20px;
}
.item_7_image {
position: relative;
padding-top: 75px;
}
.item_7_h4 {
    position: absolute;
    color: #FFFFFF;
    margin-top: -50px;
    padding-left: 80px;
    white-space: nowrap;
font-family: Lato;
font-weight: 500;
font-size: 17px;
line-height: 25.5px;
letter-spacing: 1%;
width:111px ;
height: 26px;
}
.block_item_8 {
background-image: url(../image/png\ 5.png);
width: 270px;
height: 207px;
border-radius: 16px;
margin-top: 20px;
}
.item_8_image {
position: relative;
padding-top: 75px;

}
.item_8_h4 {
    position: absolute;
    color: #FFFFFF;
    margin-top: -50px;
    padding-left: 50px;
    white-space: nowrap;
font-family: Lato;
font-weight: 500;
font-size: 17px;
line-height: 25.5px;
letter-spacing: 1%;
width: 171px;
height: 26px ;
}
.block_item_9 {
background-image: url(../image/ванна9.png);
width: 270px;
height: 207px;
border-radius: 16px;
margin-top: 20px;
}
.item_9_image {
position: relative;
padding-top: 75px;
}

.item_9_h4 {
font-family: Lato;
font-weight: 500;
font-size: 17px;
line-height: 25.5px;
letter-spacing: 1%;
width:139px ;
height:26px ;
position: absolute;
color: #FFFFFF;
margin-top: -50px;
padding-left: 57px;
white-space: nowrap;
    
}
.block_item_10 {
background-image: url(../image/ванна10.png);
width: 270px;
height: 207px;
border-radius: 16px;
margin-top: 20px;
}
.item_10_image {
position: relative;
padding-top: 75px;
}
.item_10_h4 {
position: absolute;
color: #FFFFFF;
margin-top: -50px;
padding-left: 74px;
font-family: Lato;
font-weight: 500;
font-size: 17px;
line-height: 25.5px;
letter-spacing: 1%;
width: 121px;
height: 26px;
white-space: nowrap;

}
.block_item_11 {
background-image:url(../image/ванна11.png) ;
width: 270PX;
height: 207PX;
border-radius: 16px;
margin-top: 20px;
}
.item_11_image {
position: relative;
padding-top: 75px;
}
.item_11_h4 {
    font-family: Lato;
    font-weight: 500;
    font-size: 17px;
    line-height: 25.5px;
    letter-spacing: 1%;
    width: 223PX;
    height: 26PX;
    color: #FFFFFF;
    position: absolute;
    margin-top: -50px;
padding-left: 23px;
white-space: nowrap;
    
}
.block_item_12 {
background-image: url(../image/ванна12.png);
width: 270px;
height: 207px;
top: 3008px;
left: 1115px;
border-radius: 16px;
margin-top: 20px;
}
.item_12_image {
position: relative;
padding-top: 75px;
}
.item_12_h4 {
font-family: Lato;
font-weight: 500;
font-size: 20px;
line-height: 30px;
letter-spacing: 1%;
width: 209px;
height: 30px;
color: #FFFFFF;
position: absolute;
margin-top: -50px;
padding-left: 31px;
white-space: nowrap;

}
.block_item_tovar {
display: grid;
grid-template-columns: repeat(4, 1fr);

}


.card_text {
padding-left: 60px ;
padding-top: 120px;
}
.card_h2 {
font-family: Cormorant Garamond;
font-weight: 400;
font-size: 55px;
line-height: 55px;
letter-spacing: 0%;
width: 358px;
height: 55px;
color: #2F2F2F;
padding-left: 400px;
white-space: nowrap;
}
.card_image {
width: 349px;
height: 1px;
margin-top: 20px;
margin-left: 400px;
 
}
.inform_card {
    width: 1429px;
    height: 1603px;
    margin-left: -110px;
    padding-top: 120px;
}


.card_card {
    width: 699px;
    height: 449px;
    margin-top: 20px;
   ;
    border-radius: 32px;
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    box-shadow:0px 0px 44px 0px #3C3D3D38 ;
    border: 2px solid #FFFFFF;
    
}
.card_left {
display: flex;
margin-top: 49px;
margin-left: 20px;

}

.left_33 {
    background-image: url(../image/rabota_1_2\ 6.png);
    width: 180px;
    height: 221px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;  
}
.left_34 {
background-image: url(../image/rabota_1_2\ 7.png);
width: 180px;
 height: 221px;
border-top-right-radius: 16px;
border-bottom-right-radius: 16px;
margin-left: 5px;

}
.card {
position: relative;
margin-top: 182px;
width: 187px;
height: 39px;
border-bottom-left-radius: 20px;
margin-left: -3px;
}
.card_svg {
position: relative;
width: 187px;
height: 39px;
margin-top: 182px;
border-bottom-right-radius: 16px;
rotate: -180 deg;
margin-left: -3px ;
}
.card_h4_1 {
position: absolute;
font-family: Lato;
font-weight: 500;
font-size: 20px;
line-height: 30px;
letter-spacing: 1%;
width: 27px;
height: 31px;
margin-left: 70px;
margin-top: -40px;
color: #FFFFFF;

}
.card_h4_2 {
    position:absolute ;
    font-family: Lato;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1%;
    width: 27px;
    height: 31px;
    margin-left: 60px;
    margin-top: -40px;
    color: #FFFFFF; 
}
.vector {
    position: absolute;
    width: 30px;
    height: 31px;
    top: 3666.46px;
    margin-left: 170px;
    rotate: -90 deg;
    border-width: 2px;
    margin-top: -170px; 
}
.vector_1 {
    position: absolute;
    width: 30px;
    height: 31px;
    top: 3666.46px;
    margin-left: -20px;
    rotate: -90 deg;
    border-width: 2px;
    
    margin-top: -190px;
    
}
.left_2 {
margin-top: 18px;
margin-left: 20px;

}
.card_1 {
    width: 117px;
    height: 116px;
    border-radius: 10px;
    margin-right: 5px;
    
}

.card_text_1 {
margin-top: -393px;
margin-left: 410px;
}
.card_h3 {
    font-family: Cormorant Garamond;
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 0%;
 width: 253px;
height: 21px;
color: #2F2F2F;

}
.card_text_2 {
display: flex;
padding-left: 410px;

}
.card_text_left {
padding-top: 55px;
}
.card_h4 {
    font-family: Lato;
    font-weight: 900;
    font-size: 15px;
    line-height: 22.5px;
    letter-spacing: 1%;
    width: 70px;
height: 23px;

color: #3C3D3D;

}
.card_h4_h4 {
    font-family: Lato;
    font-weight: 900;
    font-size: 15px;
    line-height: 22.5px;
    letter-spacing: 1%;
    width: 57px;
height: 23px;

color: #3C3D3D;

}
.card_text_right {
    padding-top: 55px;
}
.card_h3_1 {
font-family: Lato;
font-weight: 400;
font-size: 15px;
line-height: 22.5px;
letter-spacing: 1%;
color: #3C3D3D;
width: 108px;
height: 22px;
top: 3656.94px;
left: 661px;
margin-top: -20px;
}
.card_h3_2 {
    font-family: Lato;
    font-weight: 400;
    font-size: 15px;
    line-height: 22.5px;
    letter-spacing: 1%;
    color: #3C3D3D;
    width: 108px;
    height: 22px;
    white-space: nowrap;
    margin-right: 20px;
    margin-top: -20px;
    }
.card_video {

margin-left: 400px;
margin-top: 25px;
}
.video {
margin-top: 21px ;
width: 252px;
height: 151px;
border-radius: 10px;

}
.card_video__input {
    width: 189px;
    height: 49px;
    border-radius: 100px;
    border: 3px solid #DBAF15;
    margin-top: 22px;
    margin-left: 25px;
    
}
.card_video__input::placeholder {
font-family: Lato;
font-weight: 900;
font-size: 16px;
line-height: 24px;
letter-spacing: 1%;
width: 87px;
height: 24px;
color: #DBAF15;
padding-left: 45px;
}

.inform_card {
display: grid;
grid-template-columns: repeat(2,1fr);
gap:31px;
}
.left_35 {
background-image: url(../image/rab\ 1.png);
width: 180px;
height: 221px;
border-top-left-radius: 16px;
border-bottom-left-radius: 16px; 
}
.left_36 {
background-image: url(../image/rab\ 2.png);
width: 180px;
 height: 221px;
border-top-right-radius: 16px;
border-bottom-right-radius: 16px;
margin-left: 5px;
}
.left_37 {
    background-image: url(../image/rabota_1.png);
    width: 180px;
    height: 221px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px; 
}
.left_38 {
    background-image: url(../image/rabota_2.png);
    width: 180px;
 height: 221px;
border-top-right-radius: 16px;
border-bottom-right-radius: 16px;
margin-left: 5px;
}
.left_39 {
background-image: url(../image/rabota_6.png);
width: 180px;
    height: 221px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px; 

}
.left_40 {
background-image: url(../image/rabota_7.png);
width: 180px;
height: 221px;
border-top-right-radius: 16px;
border-bottom-right-radius: 16px;
margin-left: 5px;
}
.left_41 {
background-image: url(../image/rabota_11.png);
width: 180px;
    height: 221px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px; 
}
.left_42 {
background-image: url(../image/rabota_12.png);
width: 180px;
height: 221px;
border-top-right-radius: 16px;
border-bottom-right-radius: 16px;
margin-left: 5px;
}
.left_43 {
background-image: url(../image/rabota_16.png);
width: 180px;
    height: 221px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px; 
}
.left_44 {
background-image: url(../image/rabota_17.png);
width: 180px;
height: 221px;
border-top-right-radius: 16px;
border-bottom-right-radius: 16px;
margin-left: 5px;

}
.kalkulator {
    width: 1017px;
    height: 622px;
    padding-top: 120px;
    padding-left: 220px;
    
}
.kalk_menu {
margin-left: -160px;
display: flex;
padding-top:77px ;
}
.kalk_h2 {
    font-family: Cormorant Garamond;
    font-weight: 400;
    font-size: 55px;
    line-height: 55px;
    letter-spacing: 0%;
    width: 733px;
height: 55px;
color: #2F2F2F;

}
.kalk_image {
width: 681px;
height: 1px;
margin-left: 8px;
}

.kalk {
display: flex ;

}
.item_h3 {
    font-family: Lato;
    font-weight: 900;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1%;
    width: 107px;
height: 27px;

white-space: nowrap;
color:#3C3D3D;
margin-right: 25px;
}
.cpucok {
    font-family: Lato;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1%;
    width: 124px;
height: 27px;
color: #3C3D3D;
margin-right: 31px;

}
.iteam_h3 {
    font-family: Lato;
    font-weight: 900;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1%;
    width: 87px;
height: 27px;
color: #3C3D3D;
margin-left: 44px;
margin-right: 14px;
padding-top: 15px;

}
.team_input {
    width: 170px;
    height: 38px;
    background-color: #FAF4ED;
    border-radius: 8px;
    margin-top: 10px;
  
}
.team_input::placeholder {
    font-family: Lato;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1%;
    width: 36px;
height: 24px;
color: #3C3D3D;

}
.team_image {
    width: 25px;
    height: 57px;
    margin-left: 5px;
    
}
.item {
display: flex;
margin-top:70px ;

}
.item_btn {
    width: 272px;
    height: 38px;
    background-color:#FAF4ED ;
    border-radius: 8px;
     margin-right: 70px;
     margin-top: 20px;
}
.item_btn::placeholder {
font-family: Lato;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 1%;
width: 76px;
height: 24px;
color: #3C3D3D;
padding-left: 27px;

}
.item_kalk {
margin-left: -120px;
}

.yslugi {
    display: grid;
    grid-template-columns:repeat(2,1fr) ;
}
.yslugi_h3 {
}
.yslugi_left {

}
.yslugi_h3_1 {
}
.yslugi_h3_2 {
}
.yslugi_h3_3 {
}
.yslugi_h3_4 {
}
.yslugi_right {
}
.right_h3_1 {
}
.right_h3_2 {
}
.right_h3_3 {
}
